@model Catalog.Domain.Plate

@{
    ViewData["Title"] = "Add Plate";
}

<h1 class="h1">Add Plate</h1>

<form method="post">
    <div class="alert alert-danger" action="alert" asp-validation-summary="ModelOnly"></div>
    <div class="mb-3">
        <label asp-for="Registration" class="form-label">Registration</label>
        <input asp-for="Registration" type="text" required pattern="[0-9A-Z]{1,7}" class="form-control" autocomplete="off" autofocus="autofocus" title="This should contain up to 7 uppercase characters and digits only." />
        <span class="text-danger" asp-validation-for="Registration"></span>
    </div>
    <div class="mb-3">
        <label asp-for="PurchasePrice" class="form-label">Purchase Price</label>
        <div class="input-group mb-3">
            <span class="input-group-text">£</span>
            <input asp-for="PurchasePrice" type="text" inputmode="numeric" pattern="[0-9.]*" required class="form-control" autocomplete="off" />
        </div>
        <span class="text-danger" asp-validation-for="PurchasePrice"></span>
    </div>
    <div class="mb-3">
        <label asp-for="SalePrice" class="form-label">Sale Price</label>
        <div class="input-group mb-3">
            <span class="input-group-text">£</span>
            <input asp-for="SalePrice" type="text" inputmode="numeric" pattern="[0-9.]*" required class="form-control" aria-describedby="salesPriceHelp" autocomplete="off" />
        </div>
        <div id="salesPriceHelp" class="form-text">This should not include the sales markup. This will be added automatically.</div>
        <span class="text-danger" asp-validation-for="SalePrice"></span>
    </div>
    <div class="mb-3">
        <label asp-for="Letters" class="form-label">Letters</label>
        <input asp-for="Letters" type="text" pattern="[A-Z]{1,7}" class="form-control" autocomplete="off" title="This should contain up to 7 uppercase characters." />
        <span class="text-danger" asp-validation-for="Letters"></span>
    </div>
    <div class="mb-3">
        <label asp-for="Numbers" class="form-label">Numbers</label>
        <input asp-for="Numbers" type="text" required inputmode="numeric" pattern="[0-9]{1,7}" class="form-control" autocomplete="off" title="This should contain up to 7 digits only." />
        <span class="text-danger" asp-validation-for="Numbers"></span>
    </div>
    <button type="submit" class="btn btn-primary">Add</button>
</form>