@model Catalog.Domain.Plate

@{
    ViewData["Title"] = "Add Plate";
}

<h1 class="h1">Add Plate</h1>

<form method="post">
    <div asp-validation-summary="ModelOnly"></div>
    <div class="mb-3">
        <label asp-for="Registration" class="form-label">Registration</label>
        <input asp-for="Registration" type="text" required pattern="[0-9A-Z]+" class="form-control" />
        <span asp-validation-for="Registration"></span>
    </div>
    <div class="mb-3">
        <label asp-for="PurchasePrice" class="form-label">Purchase Price</label>
        <div class="input-group mb-3">
            <span class="input-group-text">£</span>
            <input asp-for="PurchasePrice" type="text" inputmode="numeric" pattern="[0-9.]*" required class="form-control" />
        </div>
        <span asp-validation-for="PurchasePrice"></span>
    </div>
    <div class="mb-3">
        <label asp-for="SalePrice" class="form-label">Sale Price</label>
        <div class="input-group mb-3">
            <span class="input-group-text">£</span>
            <input asp-for="SalePrice" type="text" inputmode="numeric" pattern="[0-9.]*" required class="form-control" />
        </div>
        <span asp-validation-for="SalePrice"></span>
    </div>
    <div class="mb-3">
        <label asp-for="Letters" class="form-label">Letters</label>
        <input asp-for="Letters" type="text" pattern="[A-Z]*" class="form-control" />
        <span asp-validation-for="Letters"></span>
    </div>
    <div class="mb-3">
        <label asp-for="Numbers" class="form-label">Numbers</label>
        <input asp-for="Numbers" type="text" inputmode="numeric" pattern="[0-9]*" class="form-control" />
        <span asp-validation-for="Numbers"></span>
    </div>
    <button type="submit" class="btn btn-primary">Add</button>
</form>